doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1.0')
		title index
		include includes/css-links.jade

	body
		include includes/svg.jade
		.page-wrapp
			.content-without-footer
				include includes/_header.jade
				.container
					.row
						.col-md-5
							include includes/_main-nav-wrap_catalog.jade
						.col-md-15
							.main-breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										span Каталог

				.full_catalog-page-title
					.container
						h1 КАТАЛОГ ТОВАРОВ

				.full_catalog-categories-wrap
					.container
						.full_catalog-categories-wrap_row.clearfix
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )

									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

						.full_catalog-categories-wrap_row.clearfix
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )

									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

						.full_catalog-categories-wrap_row.clearfix
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )

									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
						.full_catalog-categories-wrap_row.clearfix
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 2
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.hidden.hidden-trig.w-ul
										a(href="#")
											span ОГРАЖДЕНИЯ 3
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
								a(href="#").full_catalog-categories-wrap_col_show-more
									span Весь список
									svg.svg-icon.arrow-icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
							.full_catalog-categories-wrap_col
								.full_catalog-categories-wrap_col_title
									span СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
								ul
									li.w-ul
										a(href="#")
											span ГИПСОКАРТНО И КОМПЛЕКТАЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

									li.w-ul
										a(href="#")
											span СУХИЕ СМЕСИ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li
										a(href="#")
											span ЛЕСОПИЛОМАТЕРИАЛЫ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )

									li.w-ul
										a(href="#")
											span КРОВЛЯ, САЙДИНГ, ВОДОСТОК
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши
									li.w-ul
										a(href="#")
											span УТЕПЛИТЕЛИ И ТЕПЛОИЗОЛЯЦИЯ
											svg.svg-icon.arrow-icon
												use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
										ul.nav-ul_second-lvl_ul
											li
												a(href="#") Сверла, буры, коронки, метчики
											li
												a(href="#") Диски отрезные
											li
												a(href="#") Шлифшкурка
											li
												a(href="#") Изоляционная и другая лента
											li
												a(href="#") Шлифовальные круги и ленты
											li
												a(href="#") Лезвия для ножей
											li
												a(href="#") Скобы для степлера
											li
												a(href="#") Пилы для лобзика
											li
												a(href="#") Биты
											li
												a(href="#") Насадки для дрели и МШУ
											li
												a(href="#") Электроды
											li
												a(href="#") Полотна для нажовок
											li
												a(href="#") Карандаши

							

			include includes/_footer.jade

		include includes/_modals.jade

		include includes/js-links.jade