footer
	.footer_top-line
		.container.clearfix
			.footer_top-line_logo
				a(href="#")
					img(src="img/template/footer-logo.png", alt="")
			.footer_top-line_nav.clearfix.hidden-xs
				ul 
					li
						a(href="#") О КОМПАНИИ
					li
						a(href="#") СПОСОБЫ ОПЛАТЫ
					li
						a(href="#") ДОСТАВКА
				ul 
					li
						a(href="#") СКИДКИ
					li
						a(href="#") НОВОСТИ
					li
						a(href="#") КОНТАКТЫ
				ul 
					li
						a(href="#") ОБМЕН И ВОЗВРАТ
					li
						a(href="#") ПОЛЬЗОВАТЕЛЬСТКОЕ СОГЛАШЕНИЕ
					li
						a(href="#") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
			.footer_top-line_pay.hidden-xs.hidden-sm
				span 
					img(src="img/userfiles/pay-logos/1.png", alt="")
				span 
					img(src="img/userfiles/pay-logos/2.png", alt="")
				span 
					img(src="img/userfiles/pay-logos/3.png", alt="")
				span 
					img(src="img/userfiles/pay-logos/4.png", alt="")
				span 
					img(src="img/userfiles/pay-logos/5.png", alt="")

	.footer_bottom-line
		.container.clearfix
			.footer_bottom-line_copy
				span © 2015 Гипермаркет строительных материалов ООО «ОКЕАН»
			.footer_bottom-line_contacts
				a(href="#")
					svg.svg-icon.loc-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#loc-icon" )
					span.text г. Нижний Новгород, ул. Торфяная, 30
				a(href="#")
					svg.svg-icon.tel-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#tel-icon" )
					span.text +7 (831) 211-37-07
				a(href="#")
					svg.svg-icon.mail-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#mail-icon" )
					span.text info@okean24.ru
a(href="#").go-to-top
	svg.svg-icon.arrow-icon
		use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )



