.main-nav-wrap.hidden-sm.hidden-xs
	.main-nav-wrap_inner
		ul.nav-ul
			li.w-ul
				a(href="#") 
					span.text СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ

			li.w-ul
				a(href="#") 
					span.text ВАННАЯ КОМНАТА
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ДВЕРИ
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ОКНА
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text СКОБЯНЫЕ ИЗДЕЛИЯ
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text НАПОЛЬНЫЕ ПОКРЫТИЯ
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ОТДЕЛОЧНЫЕ МАТЕРИАЛЫ
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ИНСТРУМЕНТЫ 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ЛАКОКРАСОЧНЫЕ МАТЕРИАЛЫ 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ПЛИТКА 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text КРЕПЁЖ 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ИНЖЕНЕРНАЯ САНТЕХНИКА 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ЭЛЕКТРОТОВАРЫ 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ОТДЕЛОЧНЫЕ МАТЕРИАЛЫ 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ИНСТРУМЕНТЫ 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.w-ul
				a(href="#") 
					span.text ИНЖЕНЕРНАЯ САНТЕХНИКА 
					svg.svg-icon.arrow-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
				ul.nav-ul_second-lvl-wrap.clearfix
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") РАСХОДНЫЕ МАТЕРИАЛЫ
							li
								a(href="#") Сверла, буры, коронки, метчики
							li
								a(href="#") Диски отрезные
							li
								a(href="#") Шлифшкурка
							li
								a(href="#") Изоляционная и другая лента
							li
								a(href="#") Шлифовальные круги и ленты
							li
								a(href="#") Лезвия для ножей
							li
								a(href="#") Скобы для степлера
							li
								a(href="#") Пилы для лобзика
							li
								a(href="#") Биты
							li
								a(href="#") Насадки для дрели и МШУ
							li
								a(href="#") Электроды
							li
								a(href="#") Полотна для нажовок
							li
								a(href="#") Карандаши
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") МАЛЯРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Кисти малярные
							li
								a(href="#") Валики и шубы
							li
								a(href="#") Аксессуары и расходники
							li
								a(href="#") Ванночки для валиков
							li
								a(href="#") Краскораспылитель
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ВЕРСТАКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ОТДЕЛОЧНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Валики игольчатые
							li
								a(href="#") Гладилкии
							li
								a(href="#") Кельмы
							li
								a(href="#") Миксеры для смеси
							li
								a(href="#") Правила
							li
								a(href="#") Тазы иведра
							li
								a(href="#") Терки штукатурные
							li
								a(href="#") Шпатели
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЭЛЕКТРОИНСТРУМЕНТ
							li
								a(href="#") Дрели аккумуляторные
							li
								a(href="#") Машины шлифовальные
							li
								a(href="#") Дрели и миксеры
							li
								a(href="#") Перфораторы
							li
								a(href="#") Пилы дисковые
							li
								a(href="#") Рубанки электрические
							li
								a(href="#") Сварочное оборудование
							li
								a(href="#") Фены технические
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ЛЕСТНИЦЫ, СТРЕМЯНКИ
					li
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") СТОЛЯРНЫЙ, СЛЕСАРНЫЙ ИНСТРУМЕНТ
							li
								a(href="#") Ножи
							li
								a(href="#") Ножовки
							li
								a(href="#") Ножницы
							li
								a(href="#") Молотки, киянки, кувалды
							li
								a(href="#") Отвертки
							li
								a(href="#") Степлеры
							li
								a(href="#") Ключи
							li
								a(href="#") Стамески, зубила
							li
								a(href="#") Плоскогубцы, клещи
							li
								a(href="#") Топоры, колуны
							li
								a(href="#") Гвоздодеры
							li
								a(href="#") Бокорезы, болторезы
							li
								a(href="#") Заклепочники
							li
								a(href="#") Напильники
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") КОМПРЕССОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") ГЕНЕРАТОРЫ
						ul.nav-ul_second-lvl_ul
							li.title
								a(href="#") НАБОРЫ ИНСТРУМЕНТОВ
			li.full-catalog
				a(href="#") 
					span.text ПОЛНЫЙ КАТАЛОГ 
					span.full-c-icon
						span
						span
						span