.modal.fade.left.mob-menu-left.hidden-lg.hidden-md#mob-menu-left(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .main-nav-wrap
        .main-nav-wrap_inner
          ul.nav-ul
            li.full-catalog
              a(href="#", data-dismiss="modal", aria-label="Close") 
                span.text КАТАЛОГ 
                span.full-c-icon
                  span
                  span
                  span
            li
              a(href="#") 
                span.text СТРОИТЕЛЬНЫЕ МАТЕРИАЛЫ
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ВАННАЯ КОМНАТА
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ДВЕРИ
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ОКНА
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text СКОБЯНЫЕ ИЗДЕЛИЯ
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text НАПОЛЬНЫЕ ПОКРЫТИЯ
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ОТДЕЛОЧНЫЕ МАТЕРИАЛЫ
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ИНСТРУМЕНТЫ 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ЛАКОКРАСОЧНЫЕ МАТЕРИАЛЫ 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ПЛИТКА 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text КРЕПЁЖ 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ИНЖЕНЕРНАЯ САНТЕХНИКА 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ЭЛЕКТРОТОВАРЫ 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ОТДЕЛОЧНЫЕ МАТЕРИАЛЫ 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ИНСТРУМЕНТЫ 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )
            li
              a(href="#") 
                span.text ИНЖЕНЕРНАЯ САНТЕХНИКА 
                svg.svg-icon.arrow-icon
                  use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#menu-arrow-icon" )

.modal.fade.right.mob-menu-right.hidden-lg.hidden-md#mob-menu-right(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .main-nav-wrap
        .main-nav-wrap_inner
          ul.nav-ul
            li.full-catalog
              a(href="#", data-dismiss="modal", aria-label="Close") 
                span.text МЕНЮ 
                span.full-c-icon
                  span
                  span
                  span
            li
              a(href="#") 
                span.text ГЛАВНАЯ            
            li
              a(href="#") 
                span.text ОПЛАТА
            li
              a(href="#") 
                span.text ДОСТАВКА
            li
              a(href="#") 
                span.text СКИДКИ
            li
              a(href="#") 
                span.text КОНТАКТЫ


.modal.fade.add-to-cart-modal#add-to-cart(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .add-to-cart-modal_title
        span ТОВАР ДОБАВЛЕН В КОРЗИНУ
      .add-to-cart-modal_close-modal(data-dismiss="modal")
        .text.hidden-xs
          span  Продолжить покупки 
        .close-icon
          span.c ×
      .add-to-cart-modal_good-line.clearfix
        .img-place.hidden-xs
          img(src="img/userfiles/item/item-big.jpg", alt="")
        .name
          span Тепло и звукоизоляция Rockwool Флор Батс 25 мм в упаковке 4,8 кв.м
        .main-items-wrap_items-place_item_buttons-wrap
          .count-btn-wrap
            input(type="number", value="1", data-min-value="1")
            span.plus
            span.minus
        .price
          span 1 230
            span.rouble й
      .add-to-cart-modal_cart-info-line.clearfix.hidden-xs
        .cart-icon-place
          svg.svg-icon.cart-icon
            use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#cart-icon" )
        .ttl-text
          span Всего в корзине
        .price
          span 12 000
            span.rouble й
        .number
          span 8
      .add-to-cart-modal_buttons-wrap
        .btn-wrap
          a(href="#").btn.blu-bd-btn.light-blue.fw ОФОРМИТЬ ЗАКАЗ
        .btn-wrap
          a(href="#").btn.blue-btn.fw ПЕРЕЙТИ В КОРЗИНУ
