script(src='http://code.jquery.com/jquery-latest.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery-ui.js')
script(src='js/bootstrap-select.min.js')
script(src='https://maps.googleapis.com/maps/api/js')
script(src='js/jquery.ui.touch-punch.min.js')
script(src='js/jquery.validate.min.js')
script(src='js/jquery.mask.min.js')
script(src='js/main.js')
script(src='js/main-order-script.js')